* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #eceff1;
}

#avatar {
    margin: 128px auto 0;
    border: 1px solid #0097a7;
    border-radius: 8px;
    width: 128px;
    height: 128px;
    background-color: #00bcd4;
    padding: 32px;
}
